{% extends "pharmacy/base.html" %}

{% block title %}HMS | Prescriptions{% endblock %}

{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Prescriptions</h1>
            </div><!-- /.col -->
            <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'doctors' %}">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div> -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section class="content">
    <div class="container-fluid">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3 class="card-title">Doctor Prescriptions</h3>
            </div>
            <div class="card-body p-0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Patient</th>
                            <th>Prescribed By</th>
                            <th>Details</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for prescription in prescriptions %}
                        <tr>
                            <td>{{ prescription.date }}</td>
                            <td>{{ prescription.patient.full_name }}</td>
                            <td>{{ prescription.doctor.get_full_name }}</td>
                            <td>{{ prescription.drug_list }}</td>
                            <td>
                                <a href="{% url 'dispense_medications' prescription.patient.id %}"
                                    class="btn btn-sm btn-success">Dispense</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No prescriptions found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}