{% extends "nurses/base.html" %}
{% load static %}
{% block title %}Register Patient{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Patient Registration</h3>
                </div>
                <!-- form start -->

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                            {% endfor %}

                        </div>
                        {% endfor %}
                        <button type="submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
